menu "Drone Configuration"
    
    config ESP_MASTER_IP_ADDRESS
        string "Master's IP Address"
        default "1.1.1.1"

    config ESP_MASTER_PORT_NO
        string "Master's Port Number"
        default "13"

endmenu